body{
    margin: 0;
    padding: 0;
    background:  #dfdfdf;
}
#login{
    max-width: 340px;
    margin:100px auto;
    background:  white;
    box-shadow: 0 0 10px #aaa;
    border-radius: 7px;
}
#login h3{
    text-align: center;
    padding: 25px 10px;
    background-color: #f4f4f4;
    color: #23d368;
    border-radius: 7px 7px 0px 0px;
}
fieldset{
    margin: 0;
    border: none;
}
form{
    padding: 0;
    margin: 0;
    padding: 20px;
}
input[type='password'],
input[type="email"]{
    width: 90%;
    padding: 1em;
    margin-top: 2px;
    color: #000;
    border-top: none;
    border-left: none;
    border-right: none;
}
input[type="submit"]{
    width: 100%;
    padding: 1.4em;
    margin: 1.5em 0;
    color: #000;
    background-color:#23d368;
    border:none;
    color:#eee;
    border-bottom: 4px solid transparent;
    border-radius: 5px;
}
input[type="submit"]:hover{
    border-color: #10e864;
}
form p{
    text-align: center;
    color: #000;
    width: 30px;
    margin: 10px auto 0;
    background: #f9f9f9;
    position: relative;
    bottom: 20px;
}
.border-p{
    border-top: 1px solid #888;
    margin: 10px 10px;
}
button{
    background-color: #3b5998;
    width: 100%;
    padding: 1.4em;
    margin-bottom: 1em;
    color: #FFF; ;
    border:none;
    color:#eee;
    border-bottom: 4px solid transparent;
    border-radius: 5px;
}

button:hover{
    opacity: 0.9;
    border-color: #3b3998;
}
form a {
    text-decoration: none;
    color: #4d7fee;
}
